page-login {

    .item-md {
        color: #fff;
        background-color:transparent; 
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #fff;
    }

    button {
        background-color:#fff!important;
        color: #e94154!important;
    }
}
