<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding style="background:#e94154;">

  <form #form="ngForm" novalidate>
    <ion-list>
        <img src="assets/imgs/iconTransparent.png" 
        style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;"
        />
      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
       This field is required.
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
        This field is required.
      </ion-item>

    </ion-list>
      <div padding>
          <button ion-button full large  [disabled]="!form.form.valid" (click)="login()">
              Login
            </button>

        <button ion-button  full large color="white" (click)="createAccount()">Signup</button>
        
      </div>
      </form>

</ion-content>
