<ion-header>

  <ion-navbar  >
    <ion-title>addLook</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-content (click)="getPhoto('picture')">
          <img src="assets/imgs/img-icon.png"  *ngIf="!currentPhoto"/>
          <img [src]="look.image" *ngIf="look.image"  />
          <p>Take a Picture</p>
        </ion-card-content>
  
      </ion-card>
  
      <ion-list>
          
            <ion-item>
              <ion-label stacked>Brands</ion-label>
              <ion-textarea type="text" [(ngModel)]="look.brands"></ion-textarea>
            </ion-item>
          
            <ion-item>
              <ion-label stacked>Description</ion-label>
              <ion-textarea type="text"[(ngModel)]="look.description"></ion-textarea>
            </ion-item>
           
          
          </ion-list>
  
          <button ion-button block (click)="salvar()" >Salvar</button>
    

</ion-content>
