page-add-look, page-edit-look  {
    ion-card {
        margin-bottom: 2em;
      }
    
      ion-card-content {
        background-color: #F4F5F8;
      }
    
      ion-card img {
        width: auto;
        height: 44px;
        display: block;
        margin: 20px auto;
      }
      ion-card p {
        width: auto;
        color: #ccc!important;
        text-align: center;
      }
      lookImage{
        display:block;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
      }
}
